USE [Timber]
GO
/****** Object:  Table [dbo].[SubGroups_2011]    Script Date: 08/11/2011 11:05:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SubGroups_2011](
	[SubGroup_ID] [int] IDENTITY(1,1) NOT NULL,
	[SubGroup_E] [varchar](3000) NOT NULL,
 CONSTRAINT [PK_SubGroups_2011] PRIMARY KEY CLUSTERED 
(
	[SubGroup_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF