USE [Timber]
GO
/****** Object:  Table [dbo].[Total_Full_McpfeDb_2011]    Script Date: 09/09/2011 17:57:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Total_Full_McpfeDb_2011](
	[UN_COUNTRY_CODE] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AI NOT NULL,
	[YEAR] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AI NOT NULL,
	[DIMENSION_ID] [int] NOT NULL,
	[Value] [float] NOT NULL,
 CONSTRAINT [PK_Total_Full_McpfeDb_2011] PRIMARY KEY CLUSTERED 
(
	[UN_COUNTRY_CODE] ASC,
	[YEAR] ASC,
	[DIMENSION_ID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [Timber]
GO
ALTER TABLE [dbo].[Total_Full_McpfeDb_2011]  WITH CHECK ADD  CONSTRAINT [FK_Total_Full_McpfeDb_2011_Countries] FOREIGN KEY([UN_COUNTRY_CODE])
REFERENCES [dbo].[Countries] ([UN_COUNTRY_CODE])
GO
ALTER TABLE [dbo].[Total_Full_McpfeDb_2011]  WITH CHECK ADD  CONSTRAINT [FK_Total_Full_McpfeDb_2011_Dimensions_2011] FOREIGN KEY([DIMENSION_ID])
REFERENCES [dbo].[Dimensions_2011] ([DIMENSION_ID])